:root{
    /*------------ Mode sombre -----------*/
    --fond-principal-night: #0A0A0A;
    --fond-secondaire-night: rgb(26, 26, 46);
    --accent-principal-night: #2563EB;
    --accent-hover-night: #3B82F6;
    --text-principal-night: #FFFFFF;
    --text-secondaire-night: #A0A0A0;
    --jaune: #FF0;

    /*------------ Mode clair -----------*/
    --fond-principal-light: #FFFFFF;
    --fond-secondaire-light: #FFFFFF;
    --accent-principal-light: #438bff;
    --accent-hover-light: #438bff;
    --text-principal-light: #0A0A0A;
    --text-secondaire-light: #002060;
    --jaune: rgb(250, 218, 76);
}

*{
   margin: 0;
   padding: 0;
   font-family: 'Times New Roman', Times, serif;
   box-sizing: border-box; 
}

body{
    display: flex;
    flex-direction: column;
    background: var(--fond-principal-light);
    color: var(--text-principal-light);
    gap: 20px;
    background-color: var(--fond-principal-light);
}



/*--------- Le nom dans le header avec responsivité desactivé   -----------*/
.nom{
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(1);
    border: 2px solid var(--accent-principal-light);
    border-radius: 24px;
    padding-inline: 1.2vw;
    padding-block: 1.4px;
    transition: 1s;
}

.nom:hover{
    background-color: var(--accent-principal-light);
    transform: scale(1.08);
}

#sun {
    display: none;
}

#moon {
    display: block;
}

/*---------- Just header   ------------*/
header{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--text-secondaire-light);
    height: 100%;
    width: 100%;
    margin-inline: auto;
    padding-block: 1vw;
    padding-inline: 4vw;
    background-color: var(--fond-secondaire-light);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 50;
}


/*------  Le div des liens de navigation   ----------*/
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

/*------- Chaque lien  ------------*/
.nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--text-secondaire-light);
    list-style-type: none;
    color: var(--text-secondaire-light);
    padding-inline: 1.0vw;
    padding-block: 0.4vw;
    text-decoration: none;
    font-size: calc(1.4vw + 8px);
    border-radius: 1.6vw;
    gap: 10px;
    transition: 1s;
}

.nav a:hover{
    background-color: var(--accent-principal-light);
    color: var(--text-principal-light);
    border-color: var(--accent-hover-light);
    transform: scale(1.1);
}

.Acceuil.active, .propos.active, .competences.active, .projets.active, .contact.active{
    background-color: var(--accent-principal-light);
    color: var(--text-principal-light);
    box-shadow: 5px var(--accent-hover-light);
}


#hamburger{
    display: none;
    font-size: 40px;
}

#menu_cache{
    position: fixed;
    right: -100%;
    width: 70%;
    height: 100em;
    display: flex;
    flex-direction: column;
    z-index: 200;
    background-color: var(--fond-secondaire-light);
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 90px;
    padding-left: 20px;
    gap: 20px;
}

#menu_cache.afficher{
    right: 0%;
    animation: menu_cache 2s ease forwards;
}


#menu_cache a{
    text-decoration: none;
    color: var(--text-secondaire-light);
    border: var(--text-secondaire-light) 1px solid;
    font-size: calc(2.8vw + 8px);
    font-weight: 600;
    padding-inline: 20px;
    padding-block: 20px;
    border-radius: 40px;
    width: 90%;
}

#menu_cache a:hover{
    background-color: var(--accent-hover-light);
    border: var(--accent-hover-light) 1px solid;
    color: var(--text-principal-light);
}

hr{
    width: 2px;
    color: var(--text-secondaire-light);
    border: 2px solid var(--text-secondaire-light);
}

.social-container {
  display: flex;
  gap: 1.0vw;
  justify-content: center;
  align-items: center;
  padding: 1.8vw;
  background-color: #f0f2f5; /* Fond léger pour faire ressortir les icônes */
  border-radius: 16px;
  width: 60vw;
  
}

.social-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon svg {
  width: 30px;
  height: 30px;
  fill: #555; /* Couleur grise par défaut */
  transition: all 0.3s ease;
}

/* Effets au survol (Hover) */

.social-icon:hover {
  transform: translateY(-5px); /* Petit saut vers le haut */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Couleurs spécifiques au survol */

/* Facebook */
.facebook:hover { background-color: #1877F2; }
.facebook:hover svg { fill: white; }

/* Instagram - Utilise un dégradé Linéaire */
.instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.instagram:hover svg { fill: white; }

/* Whatsapp */
.whatsapp:hover { background-color: #25D366; }
.whatsapp:hover svg { fill: white; }


#fermer_menu_cache{
    position:absolute;
    top: 30px;
    right: 20px;
    font-size: 40px;
    color: var(--text-principal-light);
}

#overflow{
    display: none;
    position: fixed;
    height: 100em;
    background-color: transparent;
    width: 100%;
    z-index: 100;
}

#overflow.active{
    display: block;
}


main{
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

/*-----------   La section acceuil  ------------*/
.hero{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
    margin-top: 4vw;
}

/*------  Div de mon pdp   ----------*/
picture{
    display: flex;
    justify-content: center;
    align-items: center;;
    width: 28vw; 
    height: 28vw;
    border-radius: 50%;
    border: var(--accent-principal-light) solid 8px;
    overflow: hidden;
    transition: 1s;
}

picture:hover{
    transform: scale(1.15);
}

/*------   My pdp  -----------*/
.my_pdp{
    width: 100%;
    height: 100%;
}


/*----------  Mon Introduction  ---------*/
.article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 60%;
    border: 1px solid var(--fond-principal-light);
    padding: 4px;
    gap: 2vw;
}

/*----------     Mon nom complet    ------------*/
.name{
    color: var(--text-principal-light);
    font-size: calc(2.1vw + 10px);
}

.name span{
    color: var(--accent-principal-light);
}

.article p{
    color: var(--text-principal-light);
    font-size: calc(1.4vw + 10px);
}

.article .developpeur{
    color: var(--accent-principal-light);
    font-size: calc(1.8vw + 10px);
}

.article div{
    width: 100%;
    border: 1px solid var(--fond-principal-light);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    padding-left: 20px;
}

.article div a{
    text-decoration: none;
    padding-inline: 1.5vw;
    padding-block: 0.8vw;
    text-align: center;
    border: 1px solid var(--text-secondaire-light);
    color: var(--text-secondaire-light);
    font-size: calc(1.2vw + 10px);
    border-radius: 16px;
    cursor: pointer;
}

.article div a:hover{
    color: var(--text-principal-light);
    background-color: var(--accent-principal-light);
}

/*--------     div de la section compétence    ------------*/

ul{
    list-style-type: none;
}

.section_titre{
    color: var(--text-principal-light);
    border-radius: 16px;
    text-align: center;
    margin-top: 2vw;
    font-size: calc(3.1vw + 10px);
}

/*-------   sections   ------*/
.grid-container1{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 2vw;
    margin-inline: 1vw;
}

/*--------  Grid dans la section compétences*/
.grid-item{
    display: flex;
    flex-direction: column;
    border: var(--fond-secondaire-light) solid 1px;
    gap: 2px;
    padding: 5px;
    flex-grow: 1;
    border-radius: 16px;
    background-color: var(--fond-secondaire-light);
    padding-bottom: 40px;
    height: 100%;
    transition: 2s;
}

.grid-item h2{
    font-size: 30px;
    color: var(--accent-principallight);
}

.grid-item li{
    color: var(--text-secondaire-light);
    font-size: calc(1.2vw + 10px);
}

.diplome, .langues, .info_bureau, .languages {
    border: var(--fond-secondaire-light) 1px solid;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 5px;
    gap: 0.8vw;
}

.diplome ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6vw;
}


/*-------  Les images dans les grid compétences*/
.img-div{
    border: var(--fond-secondaire-light) solid 1px ;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*-----------   Logo déroulant     -----------*/
.flex-container1{
    display: flex;
    margin: 25px;
    width: 98%;
    border: 5px solid transparent;
    overflow-x: auto;
    margin-inline: auto;
    gap: 1em;
    background-color: var(--fond-secondaire-light);
    padding-block: 3vw;
    border-block: 1px solid var(--text-secondaire-light);
}

.flex-container1::-webkit-scrollbar{
    display: none;
}

.group1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    animation: groupe1 10s linear infinite;
}

.card{
    flex: 0 0 12em;
    padding: 0;
    height: 8em;
    background-color: var(--accent-principal-light);
    border: 2px solid var(--accent-principal-light);
    border-radius: 1.6vw;
    align-content: center;
    align-items: center;
    transition: 1.2s;
}

.card:hover{
    transform: scale(1.2);
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--------------------             section propos          -------------------------*/
.section_propos{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
    padding-block: 3vw;
    gap: 4vw;
}

.section_propos_item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.andrews_alexandro{
    display: flex;
    width: 30%;
    padding: 2.4vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--fond-secondaire-light);
    border: 2px solid var(--accent-principal-light);
    border-radius: 1.6vw;
    gap: 1vw;
    transition: 2s;
}

.andrews_alexandro:hover{
    background-color: var(--fond-principal-light);
    transform: scale(1.08);
}

.andrews_alexandro span{
    color: var(--text-principal-light);
    font-size: calc(1.8vw + 4px);
    font-weight: 600;
}

.andrews_alexandro p{
    color: var(--text-secondaire-light);
    font-size: calc(1.6vw + 4px);
}

.decouverte{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    color: var(--text-principal-light);
    font-size: calc(1.8vw + 4px);
    transition: 2s;
}

.decouverte:hover{
    border-radius: 1.6vw;
    border: 2px solid var(--accent-principal-light);
}



.ce_qui_m_anime, .mon_objectif{
    display: flex;
    padding: 2vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--fond-secondaire-light);
    border: 2px solid var(--accent-principal-light);
    border-radius: 1.6vw;
    gap: 1vw;
    transition: 2s;
}

.ce_qui_m_anime:hover, .mon_objectif:hover{
    transform: translateY(-30px);
}


.ce_qui_m_anime span, .mon_objectif span{
    color: var(--accent-principal-light);
    font-size: calc(2.1vw + 4px);
}

.ce_qui_m_anime p, .mon_objectif p{
    color: var(--text-principal-light);
    font-size: calc(1.8vw + 4px);
}

.section_propos_item a{
    text-decoration: none;
    color: var(--text-principal-light);
    border: 2px solid var(--accent-principal-light);
    font-size: calc(1.8vw + 4px);
    text-align: center;
    padding: 1.2vw;
    border-radius: 2.4vw;
}

.section_propos_item a:hover{
    background-color: var(--accent-principal-light);
}


/*---------------------------------------           SECTION CONTACT            -------------------------------------*/
.section_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: 80vw;
    margin: auto;
}

.section_contact small{
    color: var(--text-secondaire-light);
    font-size: calc(2.1vw + 4px);
}

.division{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vw;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1vw;
    border-radius: 2.1vw;
    border: 2px solid var(--text-secondaire-light);
    gap: 1.2vw;
    background-color: var(--fond-principal-light);
    width: 98%;
}

.info:hover{
    border-color: var(--accent-hover-light);
}

.info i{
    color: var(--text-principal-light);
    font-size: calc(4vw + 8px);
}

.info > div{
    display: flex;
    align-items: center;
    justify-content: left;
    border: solid 2px var(--fond-principal-light);
    border-radius: 1.2vw;
    padding: 1.0vw;
    gap: 1.2vw;
    background-color: var(--fond-secondaire-light);
    transform: 1s;
    transition: 1.5s;
}

.info > div:hover{
    scale: 1.05;
    border-color: var(--jaune);
}

.info a{
    color: var(--text-secondaire-light);
    font-size: calc(2.4vw + 8px);
    text-decoration: none;
}

.info span{
    font-size: calc(2.8vw + 8px);
}

.lien{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.lien span{
    color: var(--text-principal-light);
}


.formulaire{
    width: 60vw;
    padding: 2vw;
    background-color: var(--fond-primaire-light);
    border-radius: 2.1vw;
    border: 2px solid var(--text-primaire-light);
}

.formulaire:hover{
    border-color: var(--accent-hover-light);
}

.formulaire input{
    width: 100%;
    height: 6vw;
    background-color: var(--fond-primaire-light);
    border: 2px solid var(--accent-principal-light);
    border-radius: 0.8vw;
    font-size: calc(2.1vw + 8px);
    padding: 0.8vw;
    color: var(--text-principal-light);
}



.formulaire textarea{
    width: 100%;
    height: 40vw;
    background-color: var(--fond-principal-light);
    border: 2px solid var(--accent-principal-light);
    border-radius: 0.8vw;
    font-size: calc(2.1vw + 8px);
    padding: 0.8vw;
    color: var(--text-principal-light);
}

.formulaire label{
    font-size: calc(2.6vw + 8px);
}


.formulaire fieldset{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 1.2vw;
    border: none;
    padding: 1.2vw;
}

.formulaire fieldset > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.0vw;
}

.submit, .reset{
    color: var(--text-principal-light);
    border: 2px solid var(--accent-principal-light);
    font-size: calc(1.2vw + 4px);
    text-align: center;
    border-radius: 0.6vw;
}

.submit:hover{
    background-color: #0F0;
} 

.reset:hover{
    background-color: #F00;
}


/*---------------------------------------        SECTION PROJETS          ------------------------------------*/
.section_projet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4vw;
    margin-top: 4vw;
}



.projet_container_grid{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
    flex-wrap: wrap;
    gap: 2.1vw;
    padding: 2vw;
    align-items: stretch;
    justify-content: center;
    padding-block: 4vw;
}

.projet_item_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--accent-principal-light);
    border-radius: 2vw;
    height: 100%;
    align-items: stretch;
    transition: 2s;
    overflow: hidden;
    width: 100%;
}

.projet_item_grid:hover{
    scale: 1.05;
}

.projet_info{
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.0vw;
    width: 100%;
    height: 50%;
    background-color: var(--fond-secondaire-light);
    padding: 1.0vw;
    z-index: 10;
}

.projet_info span{
    color: var(--text-secondaire-light);
    font-size: calc(1.6vw + 8px);
}

.projet_info p{
    color: var(--text-principal-light);
    font-size: calc(1.2vw + 8px);
}

.projet_container_grid img{
    border: 2px solid var(--accent-principal-light);
    border-radius: 1.2vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projet_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.projet_button .site{
    text-decoration: none;
    color: var(--text-principal-light);
    border: 2px solid var(--accent-principal-light);
    font-size: calc(1.2vw + 12px);
    text-align: center;
    border-radius: 6vw; 
    padding: 1vw;
    padding-inline: 2vw;
}

.projet_button .site:hover{
    background-color: var(--accent-principal-light);
}

.projet_button .code{
    text-decoration: none;
    color: var(--text-principal-light);
    border: 2px solid var(--jaune);
    font-size: calc(1.2vw + 12px);
    text-align: center;
    border-radius: 6vw;
    padding: 1vw;
    padding-inline: 2vw;
}

.projet_button .code:hover{
    background-color: var(--jaune);
    color: var(--fond-principal-light);
}





/*-------       ANIMATIOLNS    ----------*/
@keyframes groupe1 {
    from{translate: 0%;}
    to{translate: -100%;}
}

@keyframes menu_cache{
    from{
        right: -100%;
    }
    to{
        right: 0%;
    }
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 33ch;
    }
}





/*--------------    La résponsivité    -----------*/
@media (max-width: 881px){
    main{
        gap: 10vw;
    }

    picture{
        margin-bottom: 8vw;
    }

    .hero{
        flex-direction: column;
        gap: 8vw;
        margin-top: 8vw;
    }

    .name{
        font-size: calc(2.8vw + 18px);
    }

    .article .developpeur{
        font-size: calc(2.1vw + 18px);
    }

    .article{
        width: 90vw;
    }

    .article p{
        font-size: calc(2.1vw + 10px);
    }

    .article div a{
        margin-top: 3vw;
        font-size: calc(1.8vw + 10px);
    }

    .section_titre{
        font-size: calc(5.1vw + 20px);
    }

    .grid-container1{
        grid-template-columns:repeat(auto-fit, minmax(800px, 1fr));
    }

    .grid-item h2{
        font-size: calc(2.4vw + 16px);
    }

    .grid-item li{
        font-size: calc(2.1vw + 16px);
    }

    .andrews_alexandro{
        width: 100%;
        gap: 2vw;
    }

    .andrews_alexandro span{
        font-size: calc(2.8vw + 14px);
    }

    .andrews_alexandro p{
        font-size: calc(2.4vw + 14px);
    }

    .decouverte{
        font-size: calc(2.4vw + 14px);
        width: 100%;
    }
    
    .ce_qui_m_anime span, .mon_objectif span{
        font-size: calc(2.8vw + 14px);
    }

    .ce_qui_m_anime p, .mon_objectif p{
        font-size: calc(2.4vw + 14px);
    }

    .section_propos_item{
        flex-direction: column;
        gap: 8vw;
    }

    .section_propos_item a{
        font-size: calc(2.8vw + 14px);
        text-align: center;
        padding: 2.4vw;
        padding-inline: 4.1vw;
        border-radius: 4.8vw;
        margin-top: 4vw;
    }

    .division{
        gap: 10vw;
    }

    .formulaire{
        width: 60vw;
    }


    .formulaire input{
        width: 100%;
        height: 8vw;
        font-size: calc(2.1vw + 16px);
    }

    .formulaire textarea{
        width: 100%;
        height: 60vw;
        font-size: calc(2.1vw + 16px);
    }

    .formulaire label{
        font-size: calc(2.1vw + 12px);
    }

    .projet_container_grid{
        padding-block: 6vw;
        gap: 6vw;
    }

    .projet_info{
        gap: 3vw;
        padding-inline: 2vw;
        padding-block: 6vw;
    }

    .projet_info span{
        font-size: calc(1.6vw + 10px);
    }

    .projet_info p{
        font-size: calc(1.2vw + 10px);
    }

    .projet_button{
        gap: 8vw;
    }

    .projet_button .site{
        font-size: calc(1.2vw + 8px);
        padding-inline: 8vw;
    }

    .projet_button .code{
        font-size: calc(1.2vw + 8px);
        padding-inline: 8vw;
    }
}



@media (max-width: 768px) {
    #hamburger{
        display: block;
    }

    .nav{
        display: none;
    }

    .hero{
        flex-direction: column;
        gap: 10px;
    }

    picture{
        height: 20vw;
        width: 20vw;
    }

    .nom{
        font-size: calc(2.1vw + 8px);
    }

    header{
        padding-block: 4vw;
    }

    .name{
        font-size: calc(2.8vw + 18px);
    }

    .article .developpeur{
        font-size: calc(2.1vw + 18px);
    }

    .article{
        width: 90vw;
    }

    .article p{
        font-size: calc(2.1vw + 10px);
    }

    .article div a{
        font-size: calc(1.8vw + 10px);
    }

    .formulaire{
        width: 70vw;
    }

    .formulaire input{
        width: 100%;
        height: 8vw;
        font-size: calc(2.1vw + 16px);
    }

    .formulaire textarea{
        width: 100%;
        height: 60vw;
        font-size: calc(2.1vw + 16px);
    }

    .projet_info span{
        border: 1px;
    }

    .projet_info p{
        border-width: 1px;
    }

    .projet_button .site{
        border-width: 1px;
    }

    .projet_button .code{
        border-width: 1px;
    }

    .projet_item_grid{
        border-width: 1px;
    }

    .grid-container1{
        grid-template-columns:repeat(auto-fit, minmax(600px, 1fr));
    }

    .projet_container_grid{
        padding-block: 8vw;
    }

    .projet_info span{
        font-size: calc(1.6vw + 16px);
    }

    .projet_info p{
        font-size: calc(1.2vw + 16px);
    }

    .projet_button{
        gap: 8vw;
    }

    .projet_button .site{
        font-size: calc(2.1vw + 14px);
        padding-inline: 8vw;
    }

    .projet_button .code{
        font-size: calc(2.1vw + 14px);
        padding-inline: 8vw;
    }
    
}   

@media (max-width: 616px){
     picture{
        height: 60vw;
        width: 60vw;
    }

    .grid-container1{
        grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
    }

    .projet_item_grid{
        width: 95%;
        margin: auto;
        height: 100%;
    }

    .formulaire{
        width: 80vw;
    }

    .formulaire input{
        width: 100%;
        height: 9vw;
        font-size: calc(2.1vw + 14px);
    }

}


